<div class="container">


<h1 class="my-5">Our garden floweth over, order some extra veggies for even more goodness!</h1>
  <div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>

      <% if extraveg.quantity > 0 %> <!-- If item is available --> 

        <% extraveg.id %>
        <% extraveg.category %>

          <% if extraveg.category == 'A'%> <%# <h4>Product A</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £6.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
                  <button
                  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                  id="checkout-button-price_1IuidxDXs3V4V0mMegvGiVdq"
                  role="link"
                  type="button"
                >
                  <%= extraveg.name %> £6.00
                </button>
            </div>
          <% elsif extraveg.category == 'B' %> <%# <h4>Product B</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £4.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
              <button
              style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
              id="checkout-button-price_1Iukg1DXs3V4V0mMN1ERinTG"
              role="link"
              type="button"
              >
                <%= extraveg.name %> £4.00
              </button>
            </div>
          <% else %> <%# <h4>Product C</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £2.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
                <button
                style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                id="checkout-button-price_1IuklHDXs3V4V0mMvKcx2THD"
                role="link"
                type="button"
                >
                  <%= extraveg.name %> £2.00
                </button>
            </div>
          <% end %>

      <% else %>  <!-- If item is unavailable -->

        <% extraveg.id %>
        <% extraveg.category %>

          <% if extraveg.category == 'A'%> <%# <h4>Product A</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £6.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
              <p>Sorry, we have sold out!</p>
            </div>
          <% elsif extraveg.category == 'B' %> <%# <h4>Product B</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p><em>Category: <%= extraveg.category %></em></p>
              <p><em>Price is £4.00/Kg</em></p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
              <p>Sorry, we have sold out!</p>
            </div>
          <% else %> <%# <h4>Product C</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p><em>Category: <%= extraveg.category %></em></p>
              <p><em>Price is £2.00/Kg</em></p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
              <p>Sorry, we have sold out!</p>
            </div>
          <% end %>

      <%end %> <%#  close of extraveg.quantity > 0 if statement  %> 
    <% end %>
  </div>
</div>