<div class="container">
<h1 class="my-5">Our garden floweth over, order some extra veggies for even more goodness!</h1>
  <div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>
      <% extraveg.id %>
      <% extraveg.category %>
        <% if extraveg.category == 'large'%>
          <div class="card-extraveg">
            <h4>Large veg box</h4>
            <p>Price is £7.00</p>
            <h4><%= extraveg.name %></h4>
            <p><%= extraveg.description %></p>
            <p>Kg available <%= extraveg.quantity %></p>
            <%= link_to "Order this box", edit_extraveg_path(extraveg) %>
          </div>
        <% elsif extraveg.category == 'medium' %> 
          <div class="card-extraveg">
            <h4>Medium veg box</h4>
            <p>Price is £5.00</p>
          <h4><%= extraveg.name %></h4>
          <p><%= extraveg.description %></p>
          <%= link_to "Change this box", edit_extraveg_path(extraveg) %>
          </div>
        <% else %>
          <div class="card-extraveg">
            <h4>Small veg box</h4>
            <p>Price is £3.00</p>
            <h4><%= extraveg.name %></h4>
            <p><%= extraveg.description %></p>
            <%= link_to "Change this box", edit_extraveg_path(extraveg) %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>