<div class="container py-3">
  <h1>This is the showpage for Extra veg with id:<%= @extraveg.id %></h1>
    <ul>
      <li>NAME: <%= @extraveg.name %></li>
      <li>DESC: <%= @extraveg.description %></li>
      <li>CATEGORY: <%= @extraveg.category %></li>
      <li>QUANT: <%= @extraveg.quantity %></li>
    </ul>

    <%= link_to "Return to dashboard", dashboard_path, class: "btn btn-fp" %>
</div>