<div class="extraveg">
<div class="extraveg-content">
  <h2>Extra Veggies</h2>
  <p>Every week you can find our excess veggies here for one off-purchases!</p>
</div>

<div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>

        <% extraveg.id %>
        <% extraveg.category %>

          <% if extraveg.category == 'A' && extraveg.quantity > 0 %> <%# <h4>Product A</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £6.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
                  <button
                  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                  id="checkout-button-price_1IuidxDXs3V4V0mMegvGiVdq"
                  role="link"
                  type="button"
                >
                  <%= extraveg.name %> £6.00
                </button>
            </div>
            <% else %>
              <div class="hidden">
                <h4><%= extraveg.name %></h4>
              </div>
            <% end %>

          <% if extraveg.category == 'B' && extraveg.quantity > 0 %> <%# <h4>Product B</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £4.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
              <button
              style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
              id="checkout-button-price_1Iukg1DXs3V4V0mMN1ERinTG"
              role="link"
              type="button"
              >
                <%= extraveg.name %> £4.00
              </button>
            </div>
          <% else %>
            <div class="hidden">
              <h4><%= extraveg.name %></h4>
            </div>
          <% end %>

          <% if extraveg.category == 'C' && extraveg.quantity > 0 %> <%# <h4>Product C</h4> %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £2.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
                <button
                style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                id="checkout-button-price_1IuklHDXs3V4V0mMvKcx2THD"
                role="link"
                type="button"
                >
                  <%= extraveg.name %> £2.00
                </button>
            </div>
          <% else %>
            <div class="hidden">
              <h4><%= extraveg.name %></h4>
            </div>
          <% end %>  

    <% end %>
  </div>




</div> <%#  close of extraveg class  %> 


<div class="large-box-button"> <!-- Product A -->
    <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3"></script>

  <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
  <%# <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
    id="checkout-button-price_1IuidxDXs3V4V0mMegvGiVdq"
    role="link"
    type="button"
  >
    Checkout
  </button> %>

  <div id="error-message"></div>

  <script>
  (function() {
    var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

    var checkoutButton = document.getElementById('checkout-button-price_1IuidxDXs3V4V0mMegvGiVdq');
    checkoutButton.addEventListener('click', function () {
      /*
      * When the customer clicks on the button, redirect
      * them to Checkout.
      */
      stripe.redirectToCheckout({
        lineItems: [{price: 'price_1IuidxDXs3V4V0mMegvGiVdq', quantity: 1}],
        mode: 'payment',
        /*
        * Do not rely on the redirect to the successUrl for fulfilling
        * purchases, customers may not always reach the success_url after
        * a successful payment.
        * Instead use one of the strategies described in
        * https://stripe.com/docs/payments/checkout/fulfill-orders
        */
        successUrl: window.location.protocol + '//poppyjennings.com/success',
        cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          /*
          * If `redirectToCheckout` fails due to a browser or network
          * error, display the localized error message to your customer.
          */
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  })();
  </script>
</div>

<div class="medimum-box-button"> <!-- Product B -->
    <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3"></script>

  <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
  <%# <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
    id="checkout-button-price_1Iukg1DXs3V4V0mMN1ERinTG"
    role="link"
    type="button"
  >
    Checkout
  </button> %>

  <div id="error-message"></div>

  <script>
  (function() {
    var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

    var checkoutButton = document.getElementById('checkout-button-price_1Iukg1DXs3V4V0mMN1ERinTG');
    checkoutButton.addEventListener('click', function () {
      /*
      * When the customer clicks on the button, redirect
      * them to Checkout.
      */
      stripe.redirectToCheckout({
        lineItems: [{price: 'price_1Iukg1DXs3V4V0mMN1ERinTG', quantity: 1}],
        mode: 'payment',
        /*
        * Do not rely on the redirect to the successUrl for fulfilling
        * purchases, customers may not always reach the success_url after
        * a successful payment.
        * Instead use one of the strategies described in
        * https://stripe.com/docs/payments/checkout/fulfill-orders
        */
        successUrl: window.location.protocol + '//poppyjennings.com/success',
        cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          /*
          * If `redirectToCheckout` fails due to a browser or network
          * error, display the localized error message to your customer.
          */
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  })();
  </script>
</div>

<div class="small-box-button"> <!-- Product C -->
  <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3"></script>

  <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
  <%# <button
    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
    id="checkout-button-price_1IuklHDXs3V4V0mMvKcx2THD"
    role="link"
    type="button"
  >
    Checkout
  </button> %>

  <div id="error-message"></div>

  <script>
  (function() {
    var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

    var checkoutButton = document.getElementById('checkout-button-price_1IuklHDXs3V4V0mMvKcx2THD');
    checkoutButton.addEventListener('click', function () {
      /*
      * When the customer clicks on the button, redirect
      * them to Checkout.
      */
      stripe.redirectToCheckout({
        lineItems: [{price: 'price_1IuklHDXs3V4V0mMvKcx2THD', quantity: 1}],
        mode: 'payment',
        /*
        * Do not rely on the redirect to the successUrl for fulfilling
        * purchases, customers may not always reach the success_url after
        * a successful payment.
        * Instead use one of the strategies described in
        * https://stripe.com/docs/payments/checkout/fulfill-orders
        */
        successUrl: window.location.protocol + '//poppyjennings.com/success',
        cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          /*
          * If `redirectToCheckout` fails due to a browser or network
          * error, display the localized error message to your customer.
          */
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  })();
  </script>
</div>