<div class="extraveg">
  <div class="extraveg-content">
    <h2>One-off purchases</h2>
    <p>Every week you can find our excess veggies here for one off-purchases!</p>
  
  </div>


<div class="extraveg cards-extraveg">
    <% @extravegs.each do |extraveg| %>

      <% if extraveg.quantity > 0%>

        <% if extraveg.category == "A" %>
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p>Price is £6.00/Kg</p>
              <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
              <h5><%= extraveg.description %></h5>
                  <button
                  class="btn btn-primary"
                  id="checkout-button-price_1IuidxDXs3V4V0mMegvGiVdq"
                  role="link"
                  type="button"
                >

                  <%= extraveg.name %> £6.00
                
                </button>
            </div>

            
            <% elsif extraveg.category == "B" %>
              <div class="card-extraveg">
                <h4><%= extraveg.name %></h4>
                <p>Price is £4.00/Kg</p>
                <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
                <h5><%= extraveg.description %></h5>
                <button
                class="btn btn-primary"
                id="checkout-button-price_1Iukg1DXs3V4V0mMN1ERinTG"
                role="link"
                type="button"
                >
                  <%= extraveg.name %> £4.00
                </button>
              </div>

            <% else %>
              <div class="card-extraveg">
                <h4><%= extraveg.name %></h4>
                <p>Price is £2.00/Kg</p>
                <p><em>Number of kgs available: <%= extraveg.quantity %></em></p>
                <h5><%= extraveg.description %></h5>
                  <button
                  class="btn btn-primary"
                  id="checkout-button-price_1IuklHDXs3V4V0mMvKcx2THD"
                  role="link"
                  type="button"
                  >
                    <%= extraveg.name %> £2.00
                  </button>
              </div>
              <% end %>
          <% end %>

      <% end %>
  </div>

</div> <%#  close of extraveg class  %>
<script src="https://js.stripe.com/v3"></script>