<div class="extraveg">
  <div class="extraveg-content">
    <h2>Extra Veggies</h2>
    <p>Every week you can find our excess veggies here for one off-purchases!</p>
  
  </div>
  <div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>
      <% extraveg.id %>
      <% extraveg.category %>
        <% if extraveg.category == 'A'%>
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £6.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
          </div>
        <% elsif extraveg.category == 'B' %> 
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £4.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
          </div>
        <% else %>
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £2.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
          </div>
        <% end %>
    <% end %>
  </div>
  <%= link_to "Order now", "extravegs", class: "btn btn-fp" %>
</div>