<div class="container">

  <h2 class="mt-4">Purchases</h2>

    <% unless @purchases.empty? %>
    <% @purchases.each do |purchase| %>
      <p># <%= purchase.id %> | 
      <strong>Name:</strong> <%= purchase.name.titleize %> | 
      <strong>Email:</strong> <a href="mailto:<%= purchase.email %>"><%= purchase.email.downcase %></a> | 
      <strong>Phone:</strong> <%= purchase.phone %> </p>
    <% end %>
  <% end %>


  <h2 class="my-4">Waitlist</h2>

  <% unless @waitlists.empty? %>
    <% @waitlists.each do |waitlist| %>
      <p># <%= waitlist.id %> | 
      <strong>Name:</strong> <%= waitlist.name.titleize %> | 
      <strong>Email:</strong> <a href="mailto:<%= waitlist.email %>"><%= waitlist.email.downcase %></a> | 
      <strong>Phone:</strong> <%= waitlist.phone %> </p>
    <% end %>
  <% end %>

  <h2 class="my-4">Update your extra veg boxes!</h2>

  <div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>
      <% extraveg.id %>
      <% extraveg.category %>
        <% if extraveg.category == 'large'%>
          <div class="card-extraveg">
            <h4>Large veg box</h4>
            <p>Price is £7.00</p>
            <h4><%= extraveg.name %></h4>
            <p><%= extraveg.description %></p>
            <%= link_to "Change this box", edit_extraveg_path(extraveg) %>
          </div>
        <% elsif extraveg.category == 'medium' %> 
          <div class="card-extraveg">
            <h4>Medium veg box</h4>
            <p>Price is £5.00</p>
          <h4><%= extraveg.name %></h4>
          <p><%= extraveg.description %></p>
          <%= link_to "Change this box", edit_extraveg_path(extraveg) %>
          </div>
        <% else %>
          <div class="card-extraveg">
            <h4>Small veg box</h4>
            <p>Price is £3.00</p>
            <h4><%= extraveg.name %></h4>
            <p><%= extraveg.description %></p>
            <%= link_to "Change this box", edit_extraveg_path(extraveg) %>
          </div>
        <% end %>
    <% end %>
  </div>

  <h2 class="my-4">Turn off Vegboxes purchases</h2>
    <% @vegboxes.each do |box| %>
      <p><%= box.name %></p><%= link_to "Change this box", edit_vegbox_path(box) %>
    <% end %>
</div>