<div class="container">

  <h2 class="mt-4">Purchases</h2>

    <% unless @purchases.empty? %>
    <% @purchases.each do |purchase| %>
      <p># <%= purchase.id %> | 
      <strong>Name:</strong> <%= purchase.name.titleize %> | 
      <strong>Email:</strong> <a href="mailto:<%= purchase.email %>"><%= purchase.email.downcase %></a> | 
      <strong>Phone:</strong> <%= purchase.phone %> </p>
    <% end %>
  <% end %>

  <h2 class="my-4">Extravegs</h2>

  <% unless @extravs.empty? %>
    <% @extravs.each do |extrav| %>
      <p># <%= extrav.id %> | 
      <strong>Name:</strong> <%= extrav.name.titleize %> | 
      <strong>Email:</strong> <a href="mailto:<%= extrav.email %>"><%= extrav.email.downcase %></a> | 
      <strong>Phone:</strong> <%= extrav.phone %> </p>
    <% end %>
  <% end %>

  <h2 class="my-4">Waitlist</h2>

  <% unless @waitlists.empty? %>
    <% @waitlists.each do |waitlist| %>
      <p># <%= waitlist.id %> | 
      <strong>Name:</strong> <%= waitlist.name.titleize %> | 
      <strong>Email:</strong> <a href="mailto:<%= waitlist.email %>"><%= waitlist.email.downcase %></a> | 
      <strong>Phone:</strong> <%= waitlist.phone %> </p>
    <% end %>
  <% end %>

  <h2 class="my-4">Update your extra veg boxes!</h2>

  <div class="cards-extraveg">
    <% @extravegs.each do |extraveg| %>
      <% extraveg.id %>
      <% extraveg.category %>
        <% if extraveg.category == 'A'%>
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £6.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
            <%= link_to "Update this product", edit_extraveg_path(extraveg) %>
          </div>
        <% elsif extraveg.category == 'B' %> 
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £4.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
            <%= link_to "Update this product", edit_extraveg_path(extraveg) %>
          </div>
        <% else %>
          <div class="card-extraveg">
            <h4>Product <%= extraveg.category %>
            <h4><%= extraveg.name %></h4>
            <p>Price is £2.00/Kg</p>
            <p><%= extraveg.description %></p>
            <p>Kg available: <%= extraveg.quantity %></p>
            <%= link_to "Update this product", edit_extraveg_path(extraveg) %>
          </div>
        <% end %>
    <% end %>
  </div>

  <h2 class="my-4">Turn off Vegboxes purchases</h2>
    <% @vegboxes.each do |box| %>
      <p><%= box.name %></p><%= link_to "Change this box", edit_vegbox_path(box) %>
    <% end %>
</div>