<div class="container">
  <h1>Products</h1>
    <% @vegboxes.each do |box| %>
      <div class="order-card">
        <p id="title">#<%= box.name %> / <%= box.status%></p>
      </div>

    <% end %>
  <h2 class="mt-4">Waiting list</h2>
    <% @waitlists.each do |waitlist| %>
      <p># <%= waitlist.id %> | <strong>Name:</strong> <%= waitlist.name.titleize %> | <strong>Email:</strong> <a href="mailto:<%= waitlist.email %>"><%= waitlist.email %></a></p>
    <% end %>
</div>