<%= render 'shared/banner' %>
<div class="background">
  <div class="container">
    <%= render 'shared/benefits' %>
    <%= render 'shared/product' %>
    <% unless Extraveg.empty? %>
    <%= render 'shared/extraveg' %>
    <% end %>
    <%= render 'shared/about' %>
    <%= render 'shared/blog' %>
  </div>
</div>
<%= render 'shared/footer' %>

<script src="https://js.stripe.com/v3"></script>
