<%= render 'shared/banner' %>

<div class="container">

  <%= render 'shared/benefits' %>

  <%= render 'shared/product' %>

  <%= render 'shared/about' %>

  <%= render 'shared/blog' %>

  <%= render 'shared/footer' %>

</div>
