<%= render 'shared/banner' %>
<div class="background">
  <div class="container">

    <%= render 'shared/benefits' %>

    <%= render 'shared/product' %>

    <%= render 'shared/about' %>

    <%= render 'shared/blog' %>

  </div>
</div>
<%= render 'shared/footer' %>
