<!DOCTYPE html>
<html>
  <head>
    <title>FreshPicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'carrot.png', rel: 'icon', type: 'image/png'%>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <script type="text/javascript">
      /* curator-feed-default-feed-layout */
      (function(){
      var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
      i.src = "https://cdn.curator.io/published/f3eae1b5-419b-4da0-995b-a650e42c4d49.js";
      e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
      })();
    </script>
  </body>
</html>
